.fs-your_choice{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -20px;
    &_item{
        width: 50%;
        // margin: 0 20px;
        padding: 0 20px;
        &-image{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &-text{
            width: 100%;
            padding: 25px  0;
        }
    }
}

@include mobile{
    .fs-your_choice{
        margin: 0;
        flex-direction: column;
        &_item{
            width: 100%;
            margin: 0;
            padding: 0;
            &-text{
                padding: 0;
                padding-bottom: 20px;
            }
        }
        &--reverse{
            display: flex;
            flex-direction: column-reverse;
        }
    }
}
@include tablet{
    .fs-your_choice{
        margin: 0;
        flex-direction: column;
        &_item{
            width: 100%;
            margin: 0;
            padding: 0;
            &-text{
                padding: 0;           
                padding-bottom: 20px;
            }
        }
        &--reverse{
            display: flex;
            flex-direction: column-reverse;
        }
    }
}